In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# read in nfbc adp 2017 data
nfbc_adp_2018 = pd.read_csv("C:/Users/avitosky/Documents/Baseball Project/nfbc_adp_2018.csv")

In [3]:
nfbc_adp_2018.head()

,Rank,Player,Team,Position(s),ADP,Min Pick,Max Pick,Difference,# Picks,Team.1,Team Pick
0,1,"Trout, Mike",LAA,OF,1.09,1,2,NaN,70,NaN,NaN
1,2,"Altuve, Jose",HOU,2B,2.16,1,4,NaN,70,NaN,NaN
2,3,"Goldschmidt, Paul",ARZ,1B,4.29,2,7,NaN,70,NaN,NaN
3,4,"Turner, Trea",WAS,SS,5.24,2,12,NaN,70,NaN,NaN
4,5,"Arenado, Nolan",COL,3B,5.37,2,12,NaN,70,NaN,NaN

In [4]:
nfbc_adp_2018['Last_Name'], nfbc_adp_2018['First_Name'] = nfbc_adp_2018['Player'].str.split(',',1).str
nfbc_adp_2018['Player_Name'] = nfbc_adp_2018['First_Name'].map(str) + ' ' + nfbc_adp_2018['Last_Name']

In [5]:
nfbc_adp_2018.head()

,Rank,Player,Team,Position(s),ADP,Min Pick,Max Pick,Difference,# Picks,Team.1,Team Pick,Last_Name,First_Name,Player_Name
0,1,"Trout, Mike",LAA,OF,1.09,1,2,NaN,70,NaN,NaN,Trout,Mike,Mike Trout
1,2,"Altuve, Jose",HOU,2B,2.16,1,4,NaN,70,NaN,NaN,Altuve,Jose,Jose Altuve
2,3,"Goldschmidt, Paul",ARZ,1B,4.29,2,7,NaN,70,NaN,NaN,Goldschmidt,Paul,Paul Goldschmidt
3,4,"Turner, Trea",WAS,SS,5.24,2,12,NaN,70,NaN,NaN,Turner,Trea,Trea Turner
4,5,"Arenado, Nolan",COL,3B,5.37,2,12,NaN,70,NaN,NaN,Arenado,Nolan,Nolan Arenado

In [6]:
nfbc_adp_2018 = nfbc_adp_2018[['Rank', 'Player_Name', 'Team', 'Position(s)', 'ADP', 'Min Pick', 'Max Pick']]

In [7]:
nfbc_adp_2018.head()

   Rank        Player_Name Team Position(s)   ADP  Min Pick  Max Pick
0     1         Mike Trout  LAA          OF  1.09         1         2
1     2        Jose Altuve  HOU          2B  2.16         1         4
2     3   Paul Goldschmidt  ARZ          1B  4.29         2         7
3     4        Trea Turner  WAS          SS  5.24         2        12
4     5      Nolan Arenado  COL          3B  5.37         2        12

In [8]:
# read in hitting_breakouts_2018_v1 list
hitting_breakouts_2018_v1 = pd.read_csv("C:/Users/avitosky/Documents/Baseball Project/hitting_breakouts_2018_v1.csv", index_col=0)

In [9]:
hitting_breakouts_2018_v1

           Player_Name   PA  xwOBA   wOBA    xBA    OBP  Launch_Speed
2        Aaron Altherr  412  0.330  0.359  0.244  0.340          83.3
18   Albert Almora Jr.  323  0.299  0.334  0.255  0.338          82.1
23          Alex Avila  376  0.401  0.362  0.272  0.387          86.4
41       Austin Barnes  262  0.370  0.386  0.278  0.408          83.4
117        Daniel Nava  214  0.357  0.357  0.278  0.393          82.8
219  Jeimer Candelario  142  0.316  0.342  0.243  0.359          83.8
220       Jesse Winker  137  0.350  0.384  0.278  0.375          83.1
221      Jesus Aguilar  311  0.336  0.351  0.245  0.331          83.4
231      Johan Camargo  256  0.297  0.330  0.261  0.331          82.7
240       Jorge Alfaro  114  0.322  0.369  0.249  0.360          82.2
249      Jose Martinez  307  0.411  0.379  0.322  0.379          84.5
252        Jose Pirela  344  0.312  0.355  0.248  0.347          82.6
263        Justin Bour  429  0.374  0.374  0.277  0.366          83.1
299         Manny Pina  359  0.299  0.323  0.246  0.327          82.2
316         Matt Olson  216  0.380  0.411  0.251  0.352          85.4
324   Michael Conforto  440  0.376  0.392  0.254  0.384          83.8
336      Mikie Mahtook  379  0.316  0.335  0.252  0.330          82.3
337      Mitch Haniger  410  0.325  0.360  0.246  0.352          82.3
355       Ozzie Albies  244  0.330  0.347  0.260  0.354          82.0
369       Rhys Hoskins  212  0.399  0.417  0.255  0.396          83.6
395         Seth Smith  373  0.350  0.332  0.264  0.340          84.6
414    Tommy La Stella  151  0.341  0.368  0.259  0.389          82.5
420        Trea Turner  447  0.305  0.338  0.245  0.338          84.0
428      Tyler Flowers  370  0.347  0.358  0.264  0.378          81.8
443         Yandy Diaz  179  0.331  0.306  0.266  0.352          87.1

In [10]:
hitting_breakouts_2018_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 2 to 443
Data columns (total 7 columns):
Player_Name     25 non-null object
PA              25 non-null int64
xwOBA           25 non-null float64
wOBA            25 non-null float64
xBA             25 non-null float64
OBP             25 non-null float64
Launch_Speed    25 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.6+ KB

In [11]:
nfbc_adp_2018

      Rank         Player_Name Team Position(s)     ADP  Min Pick  Max Pick
0        1          Mike Trout  LAA          OF    1.09         1         2
1        2         Jose Altuve  HOU          2B    2.16         1         4
2        3    Paul Goldschmidt  ARZ          1B    4.29         2         7
3        4         Trea Turner  WAS          SS    5.24         2        12
4        5       Nolan Arenado  COL          3B    5.37         2        12
5        6     Clayton Kershaw  LAD           P    6.90         1        14
6        7        Bryce Harper  WAS          OF    8.36         2        14
7        8    Charlie Blackmon  COL          OF    8.49         2        19
8        9        Mookie Betts  BOS          OF    8.51         3        15
9       10   Giancarlo Stanton  NYY          OF    9.19         3        17
10      11        Max Scherzer  WAS           P   10.36         6        17
11      12          Chris Sale  BOS           P   12.71         7        20
12      13        Corey Kluber  CLE           P   13.46         8        20
13      14       Carlos Correa  HOU          SS   13.99         5        22
14      15         Kris Bryant  CHC          3B   15.36         9        23
15      16         Aaron Judge  NYY          OF   17.44         4        28
16      17          Joey Votto  CIN          1B   18.61        12        26
17      18       Manny Machado  BAL          3B   19.17         8        26
18      19        Jose Ramirez  CLE      2B, 3B   19.27         7        27
19      20        Gary Sanchez  NYY           C   20.87        11        42
20      21    Francisco Lindor  CLE          SS   21.36        12        28
21      22     Freddie Freeman  ATL          1B   22.21        13        32
22      23       J.D. Martinez  ARZ          OF   23.74        13        34
23      24      Cody Bellinger  LAD      1B, OF   24.66        12        39
24      25   Stephen Strasburg  WAS           P   24.70        10        39
25      26       Anthony Rizzo  CHC          1B   25.20        16        33
26      27   Madison Bumgarner   SF           P   26.07        13        37
27      28          Dee Gordon  SEA          2B   28.06        16        37
28      29      Josh Donaldson  TOR          3B   28.56        16        40
29      30     George Springer  HOU          OF   30.86        19        39
...    ...                 ...  ...         ...     ...       ...       ...
1005  1006        Jose Taveras  PHI           P  731.75       718       741
1006  1007   Giovanny Gallegos  NYY           P  732.00       715       749
1007  1008    Gorkys Hernandez   SF          OF  732.00       714       740
1008  1009       Rymer Liriano  CWS          OF  732.50       726       739
1009  1010          Rocky Gale   SD           C  734.00       734       734
1010  1011          Dillon Gee  MIN           P  735.00       735       735
1011  1012      Mitchell White  LAD           P  735.33       712       747
1012  1013      Place Holder03  STL          PH  736.00       736       736
1013  1014          David Bote  CHC          2B  737.00       737       737
1014  1015     Abraham Almonte  CLE          OF  737.00       737       737
1015  1016        Austin Wynns  BAL           C  737.00       737       737
1016  1017        Mike Marjama  SEA           C  737.67       723       748
1017  1018        John Curtiss  MIN           P  739.00       739       739
1018  1019       Andrew Suarez   SF           P  740.00       740       740
1019  1020      Alexi Amarista  COL          OF  740.00       740       740
1020  1021          Blake Wood  LAA           P  741.00       741       741
1021  1022         Raffy Lopez  TOR           C  741.00       741       741
1022  1023       Mike Tauchman  COL          OF  742.00       740       744
1023  1024      Place Holder05  STL          PH  742.00       742       742
1024  1025        Jesse Chavez  LAA           P  743.00       743       743
1025  1026      Tyler Clippard  HOU           P  745.00       745       745
1026  1027     Trevor Richards  MIA           P  745.00       745       745
1027  1028        Stephen Drew  WAS          SS  747.00       747       747
1028  1029        Michael Baez   SD           P  748.00       748       748
1029  1030        Chad Wallach  MIA           C  748.00       748       748
1030  1031     Brooks Pounders  LAA           P  748.00       748       748
1031  1032        Grant Dayton  LAD           P  749.00       749       749
1032  1033          Jay Groome  BOS           P  749.00       749       749
1033  1034       Cody Anderson  CLE           P  750.00       750       750
1034  1035        Ryan Borucki  TOR           P  750.00       750       750

[1035 rows x 7 columns]

In [12]:
nfbc_adp_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 7 columns):
Rank           1035 non-null int64
Player_Name    1035 non-null object
Team           1035 non-null object
Position(s)    1035 non-null object
ADP            1035 non-null float64
Min Pick       1035 non-null int64
Max Pick       1035 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 56.7+ KB

In [13]:
common_2018 = pd.merge(nfbc_adp_2018, hitting_breakouts_2018_v1, on='Player_Name')

In [14]:
common_2018

Empty DataFrame
Columns: [Rank, Player_Name, Team, Position(s), ADP, Min Pick, Max Pick, PA, xwOBA, wOBA, xBA, OBP, Launch_Speed]
Index: []